.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
  }

  
.btn {
  background-color: cornflowerblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.cal-buttons{
  background-color: hwb(208 38% 2%);
  cursor: pointer;
  border-radius: 5px; 
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 9px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: linear-gradient(0deg, rgb(20, 123, 167) 0%, rgb(102, 218, 247) 100%);
}




.calendar {
  display: inline;
  flex-direction: column;
  align-items: center; 
}

li div {
  margin-bottom: 10px;
}

  



.selected-date {
  background-color: #4caf50;
  color: #fff;
  border-radius: 40%;
  padding: 2px 3px;
  font-weight: bold; 
  transition: background-color 0.3s, transform 0.3s, color 0.3s; 
  cursor: pointer; 
}


.selected-date:hover {
  transform: scale(0.95);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-button {
  background-color: #282c34;
  color: #fff;
  padding: 15px 30px; 
  cursor: pointer;
  border: none;
  border-radius: 15px; 
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #61dafb;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-buttons button {
  background-color: #282c34;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.form-buttons button:hover {
  background-color: #61dafb;
  transform: scale(1.05); 
}
.container {
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px;
  width: 20%; 
  text-align: center;
  margin: 20px auto; 
  transition: transform 0.3s ease-in-out;
}


.container:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

h2 {
  color: #333333;
}
.navBar {
  background-color: #282c34;
  color: #61dafb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navBar a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.navBar a:hover {
  color: #fff;
}
.selected-date {
  background-color: #47a3a861;
  transform: scale(1.1);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}
.login-input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-size: 16px;
}
.login-input:hover,
.login-input:focus {
  border-color: #61dafb;
}
.events {
  margin-top: 40px;
  background-color: #30869e;
}

.events {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.events-container {
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px;
  width: 20%; 
  text-align: center;
  margin: 20px auto; 
  transition: transform 0.3s ease-in-out;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align:center;
}
.form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-size: 16px;
}
.form-input:hover,
.form-input:focus {
  border-color: #61dafb;
}